@charset "utf-8";
/* CSS Document */
body{max-width: 2200px; background-color: green; margin: 0px auto;}

h1{text-align: center; text-transform: uppercase; max-width: 2200px;}

div{border-width: 2px; border-style: solid; border-color: black; margin: 15px;}

.flex-container_01{display: flex; flex-direction: row; justify-content: center; align-items: center;} /* l' asse principale è 'x', quindi justify-content agirà su 'x' e align-items agirà su 'y' */
.flex-item_01{width: 300px; height: 300px; background-color: aqua;}
.flex-item_02{width: 300px; height: 300px; background-color: aqua;}
.flex-item_03{width: 300px; height: 300px; background-color: aqua;}

.flex-container_02{height: 800px; display: flex; flex-direction: column; justify-content: space-around; align-items: center;} /* l' asse principale è 'y', quindi justify-content agirà su 'y' e align-items agirà su 'x' */
.flex-item_04{width: 300px; height: 100px; background-color: aqua;}
.flex-item_05{width: 300px; height: 100px; background-color: aqua;}
.flex-item_06{width: 300px; height: 100px; background-color: aqua;}

.flex-container_03{display: flex; flex-direction: row; justify-content: space-around;}
.flex-item_07{width: 300px; height: 300px; background-color: aqua; flex-shrink: 1;}
.flex-item_08{width: 300px; height: 300px; background-color: aqua; flex-shrink: 0;}
.flex-item_09{width: 300px; height: 300px; background-color: aqua; flex-shrink: 1;}

.flex-container_04{display: flex; flex-direction: row; justify-content: center; padding: 0px 15px;}
.flex-item_10{width: 300px; height: 300px; background-color: aqua;}
.flex-item_11{width: 300px; height: 300px; background-color: aqua; flex-grow: 1;}
.flex-item_12{width: 300px; height: 300px; background-color: aqua;}

.flex-container_05 {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;}
.flex-item_13{width: 300px; height: 300px; background-color: aqua;}
.flex-item_14{width: 300px; height: 300px; background-color: aqua;}
.flex-item_15{width: 300px; height: 300px; background-color: aqua;}


figure{padding: 0px; margin: 0px;}
img {margin: 15px; max-width: 100%; height: auto;}
figcaption {margin: 0;margin-bottom: -25px; padding: 0; text-indent: -9999px;}
p {margin: 15px}

.flex-item-1{background-color:aqua; width: 330px; margin: 15px; flex-grow: 1; text-align: center; border: 2px solid black;}

.flex-item-2{background-color:aqua; width: 330px; margin: 15px; flex-grow: 1; text-align: center; border: 2px solid black;}

.flex-item-3{background-color:aqua; width: 330px; margin: 15px; flex-grow: 1; text-align: center; border: 2px solid black;}

.flex_container{display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				flex-wrap:wrap;}
.flex-item-1{background-color:aqua; width: 330px; margin: 15px; flex-grow: 1; text-align: center; border: 2px solid black;}

.flex-item-2{background-color:aqua; width: 330px; margin: 15px; flex-grow: 1; text-align: center; border: 2px solid black;}

.flex-item-3{background-color:aqua; width: 330px; margin: 15px; flex-grow: 1; text-align: center; border: 2px solid black;}

